<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>XA803G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>fromMail</param-name>
    <param-value>ipetcareservice@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>MD6WHCXLYQzrgG</param-value>
  </context-param>
  <context-param>
    <param-name>MailServerAddress</param-name>
    <param-value>140.115.236.9</param-value>
  </context-param>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/iPetCaresDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MemServletFront</servlet-name>
    <servlet-class>com.mem.controller.MemServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServletFront</servlet-name>
    <url-pattern>/front/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/backend/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/backend/emp/emp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader3</servlet-name>
    <servlet-class>com.emp.controller.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader3</servlet-name>
    <url-pattern>/emp/DBGifReader3</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GbServlet</servlet-name>
    <servlet-class>com.gb.controller.GbServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GbServlet</servlet-name>
    <url-pattern>/front/gb/gb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GbServlet2</servlet-name>
    <servlet-class>com.gb.controller.GbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GbServlet2</servlet-name>
    <url-pattern>/backend/gb/gb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostServletFront</servlet-name>
    <servlet-class>com.lost.controller.LostServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostServletFront</servlet-name>
    <url-pattern>/front/lost/lost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostServlet</servlet-name>
    <servlet-class>com.lost.controller.LostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostServlet</servlet-name>
    <url-pattern>/lost/lost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader8</servlet-name>
    <servlet-class>com.lost.controller.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader8</servlet-name>
    <url-pattern>/lost/DBGifReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FuncServlet</servlet-name>
    <servlet-class>com.func.controller.FuncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncServlet</servlet-name>
    <url-pattern>/func/func.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServletFront</servlet-name>
    <servlet-class>com.news.controller.NewsServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServletFront</servlet-name>
    <url-pattern>/front/news/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader</servlet-name>
    <servlet-class>com.news.controller.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader</servlet-name>
    <url-pattern>/news/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DrServlet</servlet-name>
    <servlet-class>com.dr.controller.DrServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrServlet</servlet-name>
    <url-pattern>/front/dr/dr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>com.dr.controller.DrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/backend/dr/dr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorServlet2</servlet-name>
    <servlet-class>com.dr.controller.DrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet2</servlet-name>
    <url-pattern>/dr/dr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader2</servlet-name>
    <servlet-class>com.dr.controller.DBGifReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader2</servlet-name>
    <url-pattern>/dr/DBGifReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PowServlet</servlet-name>
    <servlet-class>com.pow.controller.PowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowServlet</servlet-name>
    <url-pattern>/pow/pow.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AptServlet2</servlet-name>
    <servlet-class>com.apt.controller.AptServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AptServlet2</servlet-name>
    <url-pattern>/front/apt/apt.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AptServlet2</servlet-name>
    <url-pattern>/backend/apt/apt.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetServletFront</servlet-name>
    <servlet-class>com.pet.controller.PetServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetServletFront</servlet-name>
    <url-pattern>/front/pet/pet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetServlet</servlet-name>
    <servlet-class>com.pet.controller.PetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetServlet</servlet-name>
    <url-pattern>/backend/pet/pet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetServlet2</servlet-name>
    <servlet-class>com.pet.controller.PetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetServlet2</servlet-name>
    <url-pattern>/pet/pet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShiftServlet</servlet-name>
    <servlet-class>com.shift.controller.ShiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShiftServlet</servlet-name>
    <url-pattern>/shift/shift.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShiftServlet2</servlet-name>
    <servlet-class>com.shift.controller.ShiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShiftServlet2</servlet-name>
    <url-pattern>/backend/shift/shift.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ActServletFront</servlet-name>
    <servlet-class>com.act.controller.ActServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActServletFront</servlet-name>
    <url-pattern>/front/act/act.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActServlet</servlet-name>
    <servlet-class>com.act.controller.ActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActServlet</servlet-name>
    <url-pattern>/act/act.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DrRecordServlet</servlet-name>
    <servlet-class>com.drRecord.controller.DrRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrRecordServlet</servlet-name>
    <url-pattern>/backend/drRecord/drRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActRegisterServlet</servlet-name>
    <servlet-class>com.actregister.controller.ActRegisterServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActRegisterServlet</servlet-name>
    <url-pattern>/front/actRegister/actRegister.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader5</servlet-name>
    <servlet-class>com.act.controller.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader5</servlet-name>
    <url-pattern>/act/DBGifReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader4</servlet-name>
    <servlet-class>com.pet.controller.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader4</servlet-name>
    <url-pattern>/pet/DBGifReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader7</servlet-name>
    <servlet-class>com.pet.controller.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader7</servlet-name>
    <url-pattern>/pet/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader6</servlet-name>
    <servlet-class>com.pet.controller.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader6</servlet-name>
    <url-pattern>/front/pet/DBGifReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeMemState</servlet-name>
    <servlet-class>com.mem.controller.ChangeMemState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMemState</servlet-name>
    <url-pattern>/front/mem/ChangeMemState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.order.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/backend/ORDER/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
    <init-param>
      <param-name>createPictureFolder</param-name>
      <param-value>ProductPicture</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/backend/PRODUCT/product.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/PRODUCT/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductShowImage</servlet-name>
    <servlet-class>com.product.controller.ProductShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductShowImage</servlet-name>
    <url-pattern>/backend/PRODUCT/ProductShowImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.productitem.controller.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/frontend/ORDERITEM/Shopping.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.act.controller.ScheduleServlet2</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendmailServlet</servlet-name>
    <servlet-class>com.service.controller.SendmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendmailServlet</servlet-name>
    <url-pattern>/frontend/ORDERITEM/orderSuccesed.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendmailServlet</servlet-name>
    <url-pattern>/backend/ORDER/Sendmail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductItemServlet</servlet-name>
    <servlet-class>com.productitem.controller.ProductItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductItemServlet</servlet-name>
    <url-pattern>/backend/ORDERITEM/Productitem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemLoginHandler</servlet-name>
    <servlet-class>com.mem.controller.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemLoginHandler</servlet-name>
    <url-pattern>/memLoginHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemLogoutHandler</servlet-name>
    <servlet-class>com.mem.controller.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemLogoutHandler</servlet-name>
    <url-pattern>/memLogoutHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpLoginHandler</servlet-name>
    <servlet-class>com.emp.controller.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginHandler</servlet-name>
    <url-pattern>/empLoginHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpLogoutHandler</servlet-name>
    <servlet-class>com.emp.controller.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLogoutHandler</servlet-name>
    <url-pattern>/empLogoutHandler.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MemFilter</filter-name>
    <filter-class>filter.Filter_1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemFilter</filter-name>
    <url-pattern>/front/apt/addApt2.jsp</url-pattern>
    <url-pattern>/front/apt/addApt3.jsp</url-pattern>
    <url-pattern>/front/act/addAct.jsp</url-pattern>
    <url-pattern>/front/lost/addLost.jsp</url-pattern>
    <url-pattern>/front/mem/listOneMem.jsp</url-pattern>
    <url-pattern>/front/mem/update_mem_input.jsp</url-pattern>
    <url-pattern>/frontend/ORDERITEM/checkout.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>EmpFilter</filter-name>
    <filter-class>filter.Filter_2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmpFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/select_page.jsp</url-pattern>
    <url-pattern>/backend/pow/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>